.counters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border: 2px solid blue;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
}
.cards {
  border: 2px solid gold;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
}
.visitedFlags {
  width: 150px;
}
